@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap');

::selection{
    background: #000;
    color: #fff;
    text-shadow: 0 0 20px rgb(22, 228, 183);
}

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.time {
    min-height: 550px;
    display: flex;
    background: url(img/morning.jpg);
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.time__title{
    position: absolute;
    top: 60px;
    font-size: 40px;
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.info{
    display: flex;
    font-size: 37px;
    text-shadow: 0 0 10px #fff;
    text-align: center;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center .info{
    margin-top: 10px;
}
.time__hour {
    display: flex;
    font-size: 130px;
    text-shadow: 0 0 10px green;
    text-align: center;
}
.time__hour div{
    margin: 0 5px;
}
.time__day {
    margin-top: 20px;
    font-size: 50px;
    text-shadow: 0 0 10px green;
    text-align: center;
}

.morning{
    background: url(img/morning.jpg);  
    background-position: center center;
}
.day{
    background: url(img/day.jpg);
    background-position: center center;
    color: #fff;
}
.day .time__hour{
    text-shadow: 0 0 15px #000;
}
.evening{
    background: url(img/evening.jpg);
}
.night{
    background: url(img/night.jpg);
    background-position: center center;
    color: #fff;
}
.night .time__hour{
    text-shadow: 0 0 15px #000;
}

@media (max-width:800px) {
    .time__title{
        top: 70px;
    }
    .time__hour{
        font-size: 100px;
    }
    .time__day {
        font-size: 45px;
    }
    .info{
        font-size: 28px;
    }
}
@media (max-width:630px) {
    .time__title{
        font-size: 30px;
    }
    .time__hour{
        font-size: 60px;
    }
    .time__day {
        font-size: 30px;
    }
    .info{
        font-size: 18px;
    }
}
@media (max-width:400px) {
    .time__hour{
        font-size: 45px;
    }
    .info{
        font-size: 15px;
    }
}
@media (max-width:350px) {
    .time__hour{
        font-size: 39px;
    }
    .info{
        font-size: 11.5px;
    }
}