.text{
    transition: .5s;
}
.text__css{
    padding: 50px;
    margin: 50px;
    border: 2px solid black;
    
}
.card__body{
    max-width: 1200px;
    margin: 0 auto;
}
.card__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__col{
    margin: 20px;
    padding: 20px;
    background-color: rgb(235, 97, 143);
    margin: 20px;
    position: relative;
    width: 250px;
    flex-grow: 1;
}
.card__item{
    display: none;
    padding: 30px;
    position: absolute;
    background-color: peru;
    border: 5px double powderblue;
    width: 200px;
    height: 120px;
    overflow-y: scroll;
    bottom: 35%;
}
.card__item__show{
    display: block;
}
.task__2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block{
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 3px solid black;
}