body{
  padding-top: 200px;
    background: url(unnamed.jpg);
    
}
.bd{
    padding:50px ;
   border: 5px solid orange; 
}
.calculator{
text-align: center;
justify-content: center;
padding-top: 20px;

}
.white{
   color: rgb(0, 0, 0); 
   font-size: 17px; 
}
.btn-13{
    transition: .3s linear;
}
.btn-13:hover{
    background-color: orchid;
}

.btn-14{
    transition: .3s linear;
}
.btn-14:hover{
    background-color: orchid;
}

.btn-15{
    transition: .3s linear;
}
.btn-15:hover{
    background-color: orchid;
}

.btn-16{
    transition: .3s linear;
}
.btn-16:hover{
    background-color: orchid;
}

.calculator>button{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 238, 0);

}
input{
    width: 180px;
    height: 40px;
    font-size: 18px;
}
.p-13{
    font-size: 25px;
    color: white;
}
p{
    text-align: center;
    padding-top: 10px;
}