body{
    margin: 0;
    font-family: Comfortaa, sans-serif;
}
.slides {
    max-width: 100%;
    height: 50%;
    position: relative;
    margin: 0 auto;
}

.mySlides img{
    width: 100%;
}

.mySlides {
    display: none;
}

.block {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 10%;
    margin-top: -22px;
    font-weight: bold;
    font-size: 60px;
    transition: .8s ease;
    user-select: none;
    color: rgba(255, 255, 255, 0.445);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    justify-content: start;
}

.prev:hover, .next:hover {
    color: #fff;
}

.text {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    position: absolute;
    bottom: 15%;
    width: 50%;
    text-align: center;
}
@media (max-width:600px) {
    .text{
        display: none;
    }
}
@media (min-width:600px) {
    .text{
        padding: 5px;
        bottom: 7%;
    }
}
@media (min-width:800px) {
    .text{
        padding: 8px 12px;
        bottom: 15%;
    }
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 30px;
    margin: 0 2px;
    border: none;
    background-color: #fff;
    opacity: .5;
    display: inline-block;
    transition: .8s ease;
}

.active, .dot:hover {
    opacity: .8;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}