@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

::selection{
    color: #fff;
    background: #000;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.start{
    text-align: center;
}
.title{
    font-size: 50px;
}
.Text{
    font-size: 30px;
}
.text{
    font-size: 60px;
    text-align: center;
}
.div{
    height: 800px;
}

.anim__hide-left{
    transform: translateX(-150%);
    transition: .8s;
    opacity: 0;
}
.anim__show-left{
    transform: translateX(0);
    opacity: 1;
}

.anim__hide-right{
    transform: translateX(150%);
    transition: .8s;
    opacity: 0;
}
.anim__show-right{
    transform: translateX(0);
    opacity: 1;
}

.anim__hide-puls{
    opacity: 1;
}
.anim__show-puls{
    animation: puls 1s;
}
@keyframes puls{
    0%{
        transform: scale(1);
        opacity: 0.1;
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}