@font-face {
    font-family: 'TT Firs Neue';
    src: url('../fonts/TT/TTFirsNeue-Medium.eot');
    src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
        url('../fonts/TT/TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT/TTFirsNeue-Medium.woff2') format('woff2'),
        url('../fonts/TT/TTFirsNeue-Medium.woff') format('woff'),
        url('../fonts/TT/TTFirsNeue-Medium.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body{
    background: #F2F3F8;
    font-family: 'TT Firs Neue';
    margin: 0;
}
.content__image{
    width: 100%;
    display: flex;
}
.d-1200{
    display: none;
}
.d-960{
    display: none;
}
.d-640{
    display: none;
}
.btn-flex {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
a{
    text-decoration: none;
}
.btn {
    color: #fff;
    background: #1E67C8;
    border-radius: 10px;
    text-align: center;
    padding: 22px 50px;
    margin: 0 10px;
}
.btn-1920 {
    font-size: 26px;
}
.btn-1200 {
    font-size: 25px;
}
.btn-960{
    font-size: 23px;
}
.btn-640{
    font-size: 22px;
}
@media (max-width:1200px) {
    .d-1920{
        display: none;
    }
    .d-1200{
        display: block;
    }
    .d-960{
        display: none;
    }
    .d-640{
        display: none;
    }
}
@media (max-width:960px) {
    .d-1920{
        display: none;
    }
    .d-1200{
        display: none;
    }
    .d-960{
        display: block;
    }
    .d-640{
        display: none;
    }
}
@media (max-width:640px) {
    .d-1920{
        display: none;
    }
    .d-1200{
        display: none;
    }
    .d-960{
        display: none;
    }
    .d-640{
        display: block;
    }
}
@media (max-width:530px) {
    .btn-640{
        font-size: 18px;
    }
    .btn {
        padding: 16px 30px;
        margin: 0 5px;
    }
}
@media (max-width:400px) {
    .btn-640{
        font-size: 15px;
    }
    .btn {
        padding: 16px 30px;
    }
}