@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Light'), local('Gotham-Pro-Light'),
        url('../fonts/gothampro/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/gothampro/GothamPro-Light.woff') format('woff'),
        url('../fonts/gothampro/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
        url('../fonts/gothampro/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/gothampro/GothamPro-Medium.woff') format('woff'),
        url('../fonts/gothampro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

::selection{
    background: #1d3441;
    color: #fff;
}

body{
    background: #F6FCFF;
    margin: 0;
    font-family: 'Gotham Pro';
    font-weight: 300;
    color: #1D3441;
    overflow-y: hidden;
    /* box-sizing: border-box; */
}
.body__js{
    overflow-y: scroll;
}
a{
    text-decoration: none;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6FCFF;
    transition: .8s;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;    
}
@media (max-width:500px) {
    .preloader__img{
        width: 300px;
    }
}

.menu {
    z-index: 2;
    position: fixed;
    width: 100%;
    background: linear-gradient(#f6fcff,#f6fcff00);
}
.menu a{
    text-decoration: none;
    color: #1D3441;
}
.menu__burger {
    display: none;
}
.menu__close{
    background: #17212786;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 1.2s;
}
.menu__close-on{
    visibility: visible;
    opacity: 1;
}
.menu__hide{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
	right: 0;
    background: url(../img/foto/bgMenu.png);
    visibility: hidden;
    transition: .6s;
    z-index: 3;
}
.menu__show{
    width: 300px;
    visibility: visible;
}
.menu__hide .menu__li{
    opacity: 0;
    transition: .3s;
    color: #fff;
}
.menu__show .menu__li{
    opacity: 1;
    transition: 2.5s;
    color: #fff;
}
.menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4%;
}
.menu__ul {
    display: flex;
    align-items: center;
}
.menu-burger__ul{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-burger__ul .menu__li{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 13px 17px;
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border: 1px solid #19394B;
    box-shadow: 3px 3px 4px #0d2d3f79, -1px -1px 3px rgba(255, 255, 255, 0.15);
}
.menu-burger__ul .menu__li:active{
    box-shadow: none;
    margin-top: 15px;
}
.menu__li {
    margin: 0 12.5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
}
.li__flex{
    display: flex;
}
.menu-burger__ul .li-no__bg{
    background: none;
    box-shadow: none;
    border: none;
}
.menu__logo-show{
    width: 70%;
    margin-bottom: 40px;
}
.select__lan {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    color: #1D3441;
    font-size: 20px;
    font-weight: 300;
}
.menu-burger__ul .select__lan{
    color: #fff;
}
.option__lan {
    font-size: 15px;
    border: none;
}
.menu__btn{
	position: relative;
	width: 35px;
	height: 20px;
	z-index: 4;
}
.menu__btn::before,
.menu__btn::after{
	content: '';
	background: #1D3441;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all .6s ease 0s;
}
.menu__btn::before{
	top: 0;
    height: 2.3px;
}
.menu__btn::after{
	bottom: 0;
}
.menu__btn div{
	position: absolute;
	background: #1D3441;
	top: 9px;
	left: 0;
	width: 100%;
	height: 2.3px;
	transition: .8s;
	transition: all .3s ease 0s;
}
.menu__btn.menu__active::before{
	transform: rotate(45deg);
	top: 9px;
    background: #fff;
}
.menu__btn.menu__active::after{
	transform: rotate(-45deg);
	bottom: 9px;
    background: #fff;
}
.menu__btn.menu__active div{
	transform: scale(0);
    background: #fff;
}
@media (max-width:1100px) {
    .menu__logo-img{
        width: 80%;
    }
    .menu__li, .select__lan{
        font-size: 16px;
    }
}


.start {
    padding-top: 130px;
}
.start__row {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.start__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
}
.col-margin{
    margin-left: 50px;
}
.end{
    align-items: flex-end;
}
.start__gif{
    width: 75%;
}
.start-row {
    display: flex;
    align-items: center;
}
.start-text{
    margin-left: 20px;
    font-weight: 300;
}
@media (max-width:1020px) {
    .start-icon{
        width: 75px;
    }
    .start-text{
        font-size: 14px;
    }
    .menu__li{
        font-size: 14px;
    }
}
@media (max-width:980px) {
    .menu__burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 3%;
    }
    .menu__row{
        display: none;
    }
    .menu__logo-burger{
        width: 90%;
    }
}
@media (max-width:850px) {
    .start{
        padding-top: 70px;
    }
    .start__row{
        flex-direction: column;
        align-items: center;
    }
    .start__col{
        flex-basis: auto;
    }
    .end{
        align-items: center;
    }
    .start__gif{
        width: 75%;
    }
    .col-margin{
        margin-left: 0;
       
    }
    .start-row{
        margin: 30px 20px 0;
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
    .start-text{
        margin: 20px 0;
        text-align: center;
    }
}

.registration {
    margin-top: 80px;
}
.registration__title {
    color: #000;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}
.registration__block {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration__btn {
    cursor: pointer;
    font-weight: 400;
    padding: 28px 60px;
    border-radius: 25px;
    font-size: 35px;
    background: #1D3441;
    box-shadow: 0px 8px 0px #05080B;
    color: #fff;
}
.registration__btn:active{
    margin-top: 8px;
    box-shadow: none;
}
.registration__line{
    padding: 0 35px;
}
.registration__line1{
    display: none;
    padding: 30px 0;
}
.no-bg {
    background: none;
    font-size: 23px;
    border: 2px solid #1D3441;
    color: #1D3441;
    padding: 30px 25px;
    box-shadow: none;
}
@media (max-width:1250px) {
    .registration__title{
        font-size: 45px;
    }
    .registration__btn{
        font-size: 28px;
        padding: 20px 50px;
    }
    .no-bg{
        font-size: 20px;
        padding: 25px 20px;
    }
}
@media (max-width:550px) {
    .registration__block{
        flex-direction: column;
    }
    .registration__line{
        display: none;
    }
    .registration__line1{
        display: block;
    }
    .no-bg{
        font-size: 18px;
    }
    .menu__logo-burger{
        width: 75%;
    }
}
@media (max-width:450px) {
    .start__gif{
        width: 85%;
    }
    .registration__title{
        font-size: 40px;
        margin: 0 20px;
    }
}

.magnus {
    margin-top: 80px;
}
.magnus__row {
    position: relative;
    /* margin: 0 6%; */
    display: flex;
    justify-content: space-around;
}
.magnus__col-end{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.magnus-img{
    width: 100%;
}
.magnus__message {
    position: absolute;
    right: 50px;
    display: flex;
}
.magnus__text {
    margin-right: 20px;
    background: url(../img/foto/bgText.png);
    width: 415px;
    height: 120px;
}
.magnus-text{
    margin-left: 35px;
    margin-top: 25px;
}
@media (max-width:800px) {
    .magnus{
        margin-top: 40px;
    }
    .magnus__row{
        flex-direction: column;
        align-items: center;
    }
    .magnus-img{
        width: 100%;
    }
    .magnus__message{
        margin-top: 50px;
        position: static;
        flex-direction: column;
    }
    .magnus__none{
        display: none;
    }
    .magnus__img{
        display: flex;
        justify-content: end;
    }
}
@media (max-width:450px) {
    .magnus__board{
        display: flex;
        justify-content: center;
    }
    .magnus__board-img{
        width: 90%;
    }
    .iam__magnus{
        width: 150px;
        margin-right: 40px;
    }
    .magnus__text{
        margin-right: 150px;
        width: 100%;
    }
    .magnus-text{
        font-size: 14px;
    }
}

.app {
    margin-top: 150px;
}
.app__row {
    margin: 0 3%;
    display: flex;
    justify-content: space-around;
}
.app__col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app__text {
    font-size: 35px;
    text-align: center;
}
.app_name {
    margin-top: 25px;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}
.app__download {
    margin-top: 45px;
    display: flex;
}
.app__google, .app__appstore {
    cursor: pointer;
    margin: 0 11px;
}
.app-img {
    width: 100%;
}
@media (max-width:1300px) {
    .app__text {
        font-size: 28px;
        text-align: center;
    }
    .app_name {
        margin-top: 20px;
        font-size: 42px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 35px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 200px;
    }
}
@media (max-width:1100px) {
    .app{
        margin-top: 100px;
    }
    .app__text {
        font-size: 24px;
        text-align: center;
    }
    .app_name {
        margin-top: 15px;
        font-size: 37px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 30px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 180px;
    }
}
@media (max-width:900px) {
    .app{
        margin-top: 70px;
    }
    .app__text {
        font-size: 20px;
        text-align: center;
    }
    .app_name {
        margin-top: 12px;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 25px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 150px;
    }
}
@media (max-width:750px) {
    .app__row {
        margin: 0 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app__col {
        flex-basis: auto;
    }
    .app__text {
        font-size: 28px;
        text-align: center;
    }
    .app_name {
        margin-top: 25px;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 30px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }
    .app__icon{
        width: 200px;
    }
    .app__img {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .app-img{
        width: 90%;
    }
}
@media (max-width:750px) {
    .app__text {
        font-size: 23px;
    }
    .app_name {
        margin-top: 20px;
        font-size: 38px;
    }
    .app__download {
        margin-top: 25px;
        display: flex;
    }
    .app__icon{
        width: 150px;
    }
    .app__img {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .app-img{
        width: 100%;
    }
}
@media (max-width:400px) {
    .app__text {
        font-size: 20px;
    }
    .app_name {
        margin-top: 15px;
        font-size: 35px;
    }
    .app__download {
        margin-top: 20px;
        display: flex;
    }
    .app__google, .app__appstore {
        margin: 0 7px;
    }
    .app__icon{
        width: 120px;
    }
}

.puzzles {
    margin-top: 100px;
    background: #1D3441;
}
.puzzles__row {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px;
}
.puzzles__col{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.puzzles__img{
    width: 80%;
}
.puzzles__text {
    margin: 0 10px;
    margin-top: 65px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.puzzles__div{
    display: flex;
    justify-content: center;
}
.puzzles__btn {
    cursor: pointer;
    margin-top: 40px;
    width: 250px;
    font-size: 35px;
    padding: 25px 0;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border: 1px solid #19394B;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #0d2d3f79, -1px -1px 3px rgba(255, 255, 255, 0.15);
    color: #fff;
    margin-bottom: 60px;
}
.puzzles__btn:active{
    margin-top: 44px;
}
@media (max-width:750px) {
    .puzzles{
        margin-top: 50px;
    }
}
@media (max-width:650px) {
    .puzzles__text{
        font-size: 25px;
    }
    .puzzles__btn{
        width: 180px;
        padding: 18px 0;
        font-size: 28px;
        border-radius: 20px;
    }
}
@media (max-width:550px) {
    .puzzles__img{
        width: 90%;
    }
}
@media (max-width:420px) {
    .puzzles__text{
        margin-top: 35px;
        font-size: 22px;
    }
    .puzzles__btn{
        margin-top: 30px;
    }
}
@media (max-width:375px) {
    .puzzles__text{
        font-size: 19px;
    }
    .puzzles__img{
        width: 95%;
    }
}

.footer {
    background: url(../img/foto/footer.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.footer__row {
    padding-top: 25px;
    padding-bottom: 45px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer__col {
    padding-top: 30px;
}
.footer__logo{
    display: flex;
    justify-content: center;
}
.footer__img{
    width: 85%;
}
.footer__ul {
    display: flex;
}
.footer__li {
    cursor: pointer;
    font-size: 22px;
    margin: 0 12.5px;
}
.footer__end {
    padding-top: 25px;
    padding-bottom: 90px;
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-col {
    padding-top: 20px;
}
.footer__text {
    margin: 0 20px;
    text-align: center;
}
.com{
    font-size: 23px;
    font-weight: 500;
}
.mini{
    font-size: 14px;
    font-weight: 300;
}
.footer-icons {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.footer-icon {
    cursor: pointer;
    margin: 0 7.5px;
}
@media (max-width:500px) {
    .footer__row{
        margin: 0 10px;
    }
    .footer__end{
        padding-bottom: 40px;
    }
}
@media (max-width:450px) {
    .footer__li{
        font-size: 18px;
        margin: 0 5px;
    }
    .mini{
        margin: 0 5px;
        font-size: 11px;
    }
    .footer-icons{
        margin: 0 5px;
    }
}

.video__block {
    margin: 70px 0 90px;
}
.video__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video__col {
    margin-top: 30px;
}
.video__text {
    margin-top: 30px;
    font-size: 20px;
}
.video__div{
    width: 575px;
}
@media (max-width:650px) {
    .video__div{
        width: 90%;
    }
    .video__center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video__text{
        margin: 20px 10px 0;
        text-align: center;
        font-size: 16px;
    }
}
@media (max-width:470px) {
    .video__text{
        margin: 20px 5px 0;
        font-size: 14px;
    }
}
@media (max-width:400px) {
    .video__text{
        font-size: 12px;
    }
}

/* ------------------------------ */

.leason__block {
    padding-top: 180px;
}
.leason__title {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}
.leason__menu {
    margin-top: 60px;
    background: #1D3441;
}
.leason__row {
    overflow-x: auto;
    display: flex;
    padding: 40px 10%;
}
.leason__row::-webkit-scrollbar{
    height: 6px;
}
.leason__row::-webkit-scrollbar-track{
    background: #1D3441;
}
.leason__row::-webkit-scrollbar-thumb{
    background: rgba(113, 100, 100, 0.8);
    border-radius: 20px;
}
.leason__col {
    display: flex;
    align-items: center;
    text-align: center;
    opacity: .4;
    transition: .8s;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border-radius: 17px;
    border: 1.5px solid #0e2736;
    box-shadow: 3px 3px 16px #142b38bb, -1.5px -1.5px 5px rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px 45px;
    margin: 0 17.5px;
}
.leason__active{
    opacity: 1;
}
.leason-row {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.leason-col {
    margin: 0 22.5px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.left{
    align-items: end;
}
.right{
    align-items: flex-start;
    justify-content: end;
}
.leason-img {
    display: flex;
    justify-content: end;
}
.leason-board {
    width: 425px;
}
.leason-text {
    margin-bottom: 30px;
}
@media (max-width:800px) {
    .leason__title{
        font-size: 25px;
        margin: 0 10px;
    }
    .leason-row {
        margin-top: 70px;
        flex-wrap: wrap;
    }
    .leason-col {
        margin: 30px 10px 0;
        flex-basis: auto;
    }
    .leason-img{
        justify-content: center;
    }
}
@media (max-width:550px) {
    .leason__title{
        font-size: 20px;
    }
    .leason__menu{
        margin-top: 35px;
    }
    .leason-row{
        margin-top: 40px;
    }
}
@media (max-width:450px) {
    .leason__title{
        font-size: 15px;
        font-weight: 400;
    }
    .leason-board{
        width: 95%;
    }
}

.well {
    margin-top: 50px;
}
.well__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.well__col {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 30px 15px 0;
    cursor: pointer;
    background: linear-gradient(-45deg, #FEFFFF, #EEF4F7);
    border: 1.5px solid #f0f3f5;
    border-radius: 20px;
    box-shadow: -5px -5px 15px #fff, 5px 5px 10px #d5e1e8af;
}
.well__name {
    flex-grow: 1;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 30px;
}
.well__figure {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.well__img {
    width: 120px;
    display: flex;
    justify-content: end;
}
.well__down{
    margin-top: 80px;
}
.well__none{
    display: none;
}
.well__title{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.app__top{
    margin-top: 5%;
}
.well__app{
    display: none;
}
.well__app-block{
    display: block;
}
@media (max-width:600px) {
    .well__title{
        font-size: 30px;
    }
    .well__col{
        width: 200px;
        height: 200px;
    }
    .well__name{
        margin-top: 25px;
        margin-left: 15px;
        font-size: 35px;
    }
    .well__img{
        width: 90px;
    }
}
@media (max-width:465px) {
    .well__down{
        margin-top: 30px;
    }
}

/* ------------------------------ */

.play {
    padding-top: 180px;
}
.play__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.play__row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}
.play__col {
    transition: .4s;
    width: 280px;
    cursor: pointer;
    background: linear-gradient(-45deg, #FEFFFF, #EEF4F7);
    border: 1.5px solid #f0f3f5;
    border-radius: 20px;
    box-shadow: -5px -5px 15px #fff, 5px 5px 10px #d5e1e8af;
    padding: 15px 0;
    margin: 30px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.play__col:hover{
    border: 1.5px solid #9f6fab;
}
.play__col:hover .play__time{
    color: #9f6fab;
}
.play__col:hover .play__name{
    color: #9f6fab;
}
.play__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play__time {
    transition: .4s;
    margin-top: 12px;
    font-size: 20px;
}
.play__name {
    transition: .4s;
    text-align: center;
    font-size: 25px;
}
.play-row {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.play-col {
    transition: .4s;
    width: 345px;
    cursor: pointer;
    background: linear-gradient(-45deg, #FEFFFF, #EEF4F7);
    border: 1.5px solid #f0f3f5;
    border-radius: 20px;
    box-shadow: -7px -7px 18px #fff, 7px 7px 13px #d5e1e8af;
    padding: 20px 0;
    margin: 20px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.play-col:hover{
    border: 1.5px solid #9f6fab;
}
.play-col:hover .play-name{
    color: #9f6fab;
}
.play-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play-name {
    transition: .4s;
    margin-top: 16px;
    font-size: 25px;
    text-align: center;
}
@media (max-width:950px) {
    .play__title{
        font-size: 35px;
    }
}
@media (max-width:650px) {
    .play__title{
        font-size: 28px;
        margin: 0 10px;
    }
}
@media (max-width:400px) {
    .play-name{
        font-size: 20px;
        margin: 5px 5px 0;
    }
}

.phone {
    margin: 120px 0 70px;
}
.phone__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}
.phone__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}
.phone__end{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone__title {
    font-size: 55px;
    font-weight: 400;
}
.phone-row {
    display: flex;
    align-items: center;
}
.phone-col {
    margin: 25px 0;
}
.phone-text{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}
.phone-btn {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 270px;
    padding: 25px 0;
    background: #1D3441;
    color: #fff;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 400;
    box-shadow: 0 8px 0 #05080B;
}
.phone-btn:active{
    margin-top: 18px;
    box-shadow: none;
}
.phone__img{
    display: flex;
    align-items: center;
}
.phone__image {
    width: 75%;
}
@media (max-width:1150px) {
    .phone__title{
        font-size: 45px;
    }
    .phone-img{
        width: 60px;
    }
    .phone-text{
        font-size: 16px;
    }
    .phone-btn{
        width: 220px;
        font-size: 28px;
    }
    .phone__image{
        width: 100%;
    }
}
@media (max-width:800px) {
    .phone__title{
        font-size: 38px;
    }
    .phone-img{
        width: 50px;
    }
    .phone-text{
        font-size: 16px;
    }
    .phone-btn{
        font-size: 25px;
    }
}
@media (max-width:650px) {
    .phone {
        margin: 70px 0 50px;
    }
    .phone__row {
        display: flex;
        flex-direction: column;
    }
    .phone__col {
        flex-basis: auto;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .phone__body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .phone-div{
        display: flex;
        justify-content: center;
    }
    .phone__up{
        margin-top: 30px;
    }
    .phone__img{
        display: flex;
        justify-content: center;
    }
    .phone__image{
        width: 90%;
    }
}
@media (max-width:450px) {
    .phone__image{
        width: 100%;
    }
}

/* ------------------------------ */

.live {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 100px;
}
.leason-img{
    display: flex;
    justify-content: center;
}
.live__image{
    width: 350px;
}
.live__text {
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
}
@media (max-width:750px) {
    .live__image{
        width: 300px;
    }
    .live__text {
        text-align: center;
        margin: 35px 10px;
        font-size: 30px;
    }
}
@media (max-width:560px) {
    .live__image{
        width: 270px;
    }
    .live__text {
        text-align: center;
        font-size: 23px;
    }
}
@media (max-width:430px) {
    .live__image{
        width: 250px;
    }
    .live__text {
        text-align: center;
        margin: 35px 5px;
        font-size: 20px;
    }
}
@media (max-width:375px) {
    .live__text {
        text-align: center;
        margin: 35px 5px;
        font-size: 16px;
    }
}

/* ------------------------------ */

.premium {
    padding: 160px 0;
}
.premium-title{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.premium__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.premium__col {
    transition: .4s;
    background: linear-gradient(-45deg, #FEFFFF, #EEF4F7);
    border: 1.5px solid #f0f3f5;
    border-radius: 20px;
    box-shadow: -7px -7px 18px #fff, 7px 7px 13px #d5e1e8af;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 40px 20px 0;
}
.premium__col:hover {
    box-shadow: -10px -10px 15px #acd6ecaf, 10px 10px 15px #acd6ecaf;
}
.premium__dark {
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border: 1.5px solid #0e2736;
    box-shadow: 3px 3px 16px #142b38bb, -1.5px -1.5px 5px rgba(255, 255, 255, 0.1);
    color: #fff;
}
.premium__dark:hover{
    box-shadow: -12px -12px 15px #84c2e3ee, 12px 12px 15px #84c2e3ee;
}
.premium__dark .premium__btn{
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    box-shadow: 3px 3px 16px #142b38bb, -1.5px -1.5px 5px rgba(255, 255, 255, 0.1);
}
.premium__bold {
    font-weight: 400;
}
.premium__img {
    margin-top: 35px;
}
.premium__title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
}
.premium__body {
    margin-top: 35px;
    margin-bottom: 70px;
}
.premium__paragraph {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.premium__block {
    margin: 0 5px;
    text-align: left;
}
.premium__free {
    font-size: 13px;
}
.premium__btn {
    cursor: pointer;
    margin: 10px auto 0;
    background: #1D3441;
    border-radius: 10px;
    color: #fff;
    padding: 20px 0;
    font-size: 15px;
    width: 160px;
    font-weight: 400;
}
.premium__price {
    margin: 10px 0 30px;
    font-size: 15px;
}
@media (max-width:650px) {
    .premium-title{
        font-size: 35px;
    }
}
@media (max-width:500px) {
    .premium__body{
        margin-bottom: 30px;
    }
}
@media (max-width:400px) {
    .premium-title{
        font-size: 30px;
    }
    .premium__block{
        font-size: 14px;
    }
}

/* ------------------------------ */

.registrations {
    padding: 200px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.registrations__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.registrations__row {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.registrations__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registrations__inp {
    margin-left: 30px;
}
.registrations__input {
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #1D3441;
}
.registrations__button {
    cursor: pointer;
    border-radius: 15px;
    background: #1D3441;
    color: #fff;
    width: 200px;
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto 0;
    padding: 15px 0;
}
.registrations__other {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registrations__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}
.registrations__line {
    margin: 0 12px;
}
.registrations-row {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.registrations-col {
    cursor: pointer;
    padding: 15px 25px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D3441;
    border-radius: 30px;
}
.registrations-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-left: 15px;
}
@media (max-width:450px) {
    .registrations {
        padding: 160px 0 80px;
    }
    .registrations__title {
        font-size: 40px;
    }
    .registrations__input {
        font-size: 16px;
    }
    .registrations__button {
        width: 180px;
        font-size: 25px;
        padding: 20px 0;
    }
    .registrations__other {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .registrations__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
    }
    .registrations__line {
        margin: 0 8px;
    }
    .registrations-row {
        margin-top: 8px;
    }
    .registrations-col {
        cursor: pointer;
        padding: 20px 35px;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1D3441;
        border-radius: 30px;
    }
    .registrations-text {
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        margin-left: 15px;
    }
}