@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Light'), local('Gotham-Pro-Light'),
        url('../fonts/gothampro/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/gothampro/GothamPro-Light.woff') format('woff'),
        url('../fonts/gothampro/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
        url('../fonts/gothampro/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/gothampro/GothamPro-Medium.woff') format('woff'),
        url('../fonts/gothampro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    background: #F6FCFF;
    margin: 0;
    font-family: 'Gotham Pro';
    font-weight: 300;
    color: #1D3441;
    overflow-y: hidden;
    /* box-sizing: border-box; */
}
.body__js{
    overflow-y: scroll;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6FCFF;
    transition: .8s;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;    
}
@media (max-width:500px) {
    .preloader__img{
        width: 300px;
    }
}

.menu {
    z-index: 2;
    position: fixed;
    width: 100%;
    background: linear-gradient(#f6fcff,#f6fcff00);
}
.menu__burger {
    display: none;
}
.menu__close{
    background: #17212786;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 1.2s;
}
.menu__close-on{
    visibility: visible;
    opacity: 1;
}
.menu__hide{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
	right: 0;
    background: url(../img/foto/bgMenu.png);
    visibility: hidden;
    transition: .6s;
    z-index: 3;
}
.menu__show{
    width: 300px;
    visibility: visible;
}
.menu__hide .menu__li{
    opacity: 0;
    transition: .3s;
    color: #fff;
}
.menu__show .menu__li{
    opacity: 1;
    transition: 2.5s;
    color: #fff;
}
.menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4%;
}
.menu__ul {
    display: flex;
    align-items: center;
}
.menu-burger__ul{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-burger__ul .menu__li{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 13px 17px;
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border: 1px solid #19394B;
    box-shadow: 3px 3px 4px #0d2d3f79, -1px -1px 3px rgba(255, 255, 255, 0.15);
}
.menu-burger__ul .menu__li:active{
    box-shadow: none;
    margin-top: 15px;
}
.menu__li {
    margin: 0 12.5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
}
.li__flex{
    display: flex;
}
.menu-burger__ul .li-no__bg{
    background: none;
    box-shadow: none;
    border: none;
}
.menu__logo-show{
    width: 70%;
    margin-bottom: 40px;
}
.select__lan {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    color: #1D3441;
    font-size: 20px;
    font-weight: 300;
}
.menu-burger__ul .select__lan{
    color: #fff;
}
.option__lan {
    font-size: 15px;
    border: none;
}
.menu__btn{
	position: relative;
	width: 35px;
	height: 20px;
	z-index: 4;
}
.menu__btn::before,
.menu__btn::after{
	content: '';
	background: #1D3441;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all .6s ease 0s;
}
.menu__btn::before{
	top: 0;
    height: 2.3px;
}
.menu__btn::after{
	bottom: 0;
}
.menu__btn div{
	position: absolute;
	background: #1D3441;
	top: 9px;
	left: 0;
	width: 100%;
	height: 2.3px;
	transition: .8s;
	transition: all .3s ease 0s;
}
.menu__btn.menu__active::before{
	transform: rotate(45deg);
	top: 9px;
    background: #fff;
}
.menu__btn.menu__active::after{
	transform: rotate(-45deg);
	bottom: 9px;
    background: #fff;
}
.menu__btn.menu__active div{
	transform: scale(0);
    background: #fff;
}
@media (max-width:1100px) {
    .menu__logo-img{
        width: 80%;
    }
    .menu__li, .select__lan{
        font-size: 16px;
    }
}


.start {
    padding-top: 130px;
}
.start__row {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.start__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
}
.col-margin{
    margin-left: 50px;
}
.end{
    align-items: flex-end;
}
.start__gif{
    width: 75%;
}
.start-row {
    display: flex;
    align-items: center;
}
.start-text{
    margin-left: 20px;
    font-weight: 300;
}
@media (max-width:1020px) {
    .start-icon{
        width: 75px;
    }
    .start-text{
        font-size: 14px;
    }
    .menu__li{
        font-size: 14px;
    }
}
@media (max-width:980px) {
    .menu__burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 3%;
    }
    .menu__row{
        display: none;
    }
    .menu__logo-burger{
        width: 90%;
    }
}
@media (max-width:850px) {
    .start{
        padding-top: 70px;
    }
    .start__row{
        flex-direction: column;
        align-items: center;
    }
    .start__col{
        flex-basis: auto;
    }
    .end{
        align-items: center;
    }
    .start__gif{
        width: 75%;
    }
    .col-margin{
        margin-left: 0;
       
    }
    .start-row{
        margin: 30px 20px 0;
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;
    }
    .start-text{
        margin: 20px 0;
        text-align: center;
    }
}

.registration {
    margin-top: 80px;
}
.registration__title {
    color: #000;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}
.registration__block {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration__btn {
    cursor: pointer;
    font-weight: 400;
    padding: 28px 60px;
    border-radius: 25px;
    font-size: 35px;
    background: #1D3441;
    box-shadow: 0px 8px 0px #05080B;
    color: #fff;
}
.registration__btn:active{
    margin-top: 8px;
    box-shadow: none;
}
.registration__line{
    padding: 0 35px;
}
.registration__line1{
    display: none;
    padding: 30px 0;
}
.no-bg {
    background: none;
    font-size: 23px;
    border: 2px solid #1D3441;
    color: #1D3441;
    padding: 30px 25px;
    box-shadow: none;
}
@media (max-width:1250px) {
    .registration__title{
        font-size: 45px;
    }
    .registration__btn{
        font-size: 28px;
        padding: 20px 50px;
    }
    .no-bg{
        font-size: 20px;
        padding: 25px 20px;
    }
}
@media (max-width:550px) {
    .registration__block{
        flex-direction: column;
    }
    .registration__line{
        display: none;
    }
    .registration__line1{
        display: block;
    }
    .no-bg{
        font-size: 18px;
    }
    .menu__logo-burger{
        width: 75%;
    }
}
@media (max-width:450px) {
    .start__gif{
        width: 85%;
    }
    .registration__title{
        font-size: 40px;
        margin: 0 20px;
    }
}

.magnus {
    margin-top: 80px;
}
.magnus__row {
    position: relative;
    /* margin: 0 6%; */
    display: flex;
    justify-content: space-around;
}
.magnus__col-end{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.magnus-img{
    width: 100%;
}
.magnus__message {
    position: absolute;
    right: 50px;
    display: flex;
}
.magnus__text {
    margin-right: 20px;
    background: url(../img/foto/bgText.png);
    width: 415px;
    height: 120px;
}
.magnus-text{
    margin-left: 35px;
    margin-top: 25px;
}
@media (max-width:800px) {
    .magnus{
        margin-top: 40px;
    }
    .magnus__row{
        flex-direction: column;
        align-items: center;
    }
    .magnus-img{
        width: 100%;
    }
    .magnus__message{
        margin-top: 50px;
        position: static;
        flex-direction: column;
    }
    .magnus__none{
        display: none;
    }
    .magnus__img{
        display: flex;
        justify-content: end;
    }
}
@media (max-width:450px) {
    .magnus__board{
        display: flex;
        justify-content: center;
    }
    .magnus__board-img{
        width: 90%;
    }
    .iam__magnus{
        width: 150px;
        margin-right: 40px;
    }
    .magnus__text{
        margin-right: 150px;
        width: 100%;
    }
    .magnus-text{
        font-size: 14px;
    }
}

.app {
    margin-top: 150px;
}
.app__row {
    margin: 0 3%;
    display: flex;
    justify-content: space-around;
}
.app__col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app__text {
    font-size: 35px;
    text-align: center;
}
.app_name {
    margin-top: 25px;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}
.app__download {
    margin-top: 45px;
    display: flex;
}
.app__google, .app__appstore {
    cursor: pointer;
    margin: 0 11px;
}
.app-img {
    width: 100%;
}
@media (max-width:1300px) {
    .app__text {
        font-size: 28px;
        text-align: center;
    }
    .app_name {
        margin-top: 20px;
        font-size: 42px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 35px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 200px;
    }
}
@media (max-width:1100px) {
    .app{
        margin-top: 100px;
    }
    .app__text {
        font-size: 24px;
        text-align: center;
    }
    .app_name {
        margin-top: 15px;
        font-size: 37px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 30px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 180px;
    }
}
@media (max-width:900px) {
    .app{
        margin-top: 70px;
    }
    .app__text {
        font-size: 20px;
        text-align: center;
    }
    .app_name {
        margin-top: 12px;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 25px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }   
    .app__icon{
        width: 150px;
    }
}
@media (max-width:750px) {
    .app__row {
        margin: 0 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app__col {
        flex-basis: auto;
    }
    .app__text {
        font-size: 28px;
        text-align: center;
    }
    .app_name {
        margin-top: 25px;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
    }
    .app__download {
        margin-top: 30px;
        display: flex;
    }
    .app__google, .app__appstore {
        cursor: pointer;
        margin: 0 11px;
    }
    .app__icon{
        width: 200px;
    }
    .app__img {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .app-img{
        width: 90%;
    }
}
@media (max-width:750px) {
    .app__text {
        font-size: 23px;
    }
    .app_name {
        margin-top: 20px;
        font-size: 38px;
    }
    .app__download {
        margin-top: 25px;
        display: flex;
    }
    .app__icon{
        width: 150px;
    }
    .app__img {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .app-img{
        width: 100%;
    }
}
@media (max-width:400px) {
    .app__text {
        font-size: 20px;
    }
    .app_name {
        margin-top: 15px;
        font-size: 35px;
    }
    .app__download {
        margin-top: 20px;
        display: flex;
    }
    .app__google, .app__appstore {
        margin: 0 7px;
    }
    .app__icon{
        width: 120px;
    }
}

.puzzles {
    margin-top: 150px;
    background: #1D3441;
}
.puzzles__row {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px;
}
.puzzles__col{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.puzzles__img{
    width: 80%;
}
.puzzles__text {
    margin: 0 10px;
    margin-top: 65px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.puzzles__div{
    display: flex;
    justify-content: center;
}
.puzzles__btn {
    cursor: pointer;
    margin-top: 40px;
    width: 250px;
    font-size: 35px;
    padding: 25px 0;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(-45deg, #19394B, #0B2B3D);
    border: 1px solid #19394B;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #0d2d3f79, -1px -1px 3px rgba(255, 255, 255, 0.15);
    color: #fff;
    margin-bottom: 60px;
}
.puzzles__btn:active{
    margin-top: 44px;
}
@media (max-width:750px) {
    .puzzles{
        margin-top: 50px;
    }
}
@media (max-width:650px) {
    .puzzles__text{
        font-size: 25px;
    }
    .puzzles__btn{
        width: 180px;
        padding: 18px 0;
        font-size: 28px;
        border-radius: 20px;
    }
}
@media (max-width:550px) {
    .puzzles__img{
        width: 90%;
    }
}
@media (max-width:420px) {
    .puzzles__text{
        margin-top: 35px;
        font-size: 22px;
    }
    .puzzles__btn{
        margin-top: 30px;
    }
}
@media (max-width:375px) {
    .puzzles__text{
        font-size: 19px;
    }
    .puzzles__img{
        width: 95%;
    }
}

.footer {
    background: url(../img/foto/footer.png);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.footer__row {
    padding-top: 25px;
    padding-bottom: 45px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer__col {
    padding-top: 30px;
}
.footer__logo{
    display: flex;
    justify-content: center;
}
.footer__img{
    width: 85%;
}
.footer__ul {
    display: flex;
}
.footer__li {
    cursor: pointer;
    font-size: 22px;
    margin: 0 12.5px;
}
.footer__end {
    padding-top: 25px;
    padding-bottom: 90px;
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-col {
    padding-top: 20px;
}
.footer__text {
    margin: 0 20px;
    text-align: center;
}
.com{
    font-size: 23px;
    font-weight: 500;
}
.mini{
    font-size: 14px;
    font-weight: 300;
}
.footer-icons {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.footer-icon {
    cursor: pointer;
    margin: 0 7.5px;
}
@media (max-width:500px) {
    .footer__row{
        margin: 0 10px;
    }
    .footer__end{
        padding-bottom: 40px;
    }
}
@media (max-width:450px) {
    .footer__li{
        font-size: 18px;
        margin: 0 5px;
    }
    .mini{
        margin: 0 5px;
        font-size: 11px;
    }
    .footer-icons{
        margin: 0 5px;
    }
}

.video__block {
    margin: 70px 0 90px;
}
.video__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video__col {
    margin-top: 30px;
}
.video__text {
    margin-top: 30px;
    font-size: 20px;
}