@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.body__js{
    overflow-y: scroll;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    transition: .8s;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;    

}

.cssload-container * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container ul li{
	list-style: none;
}

.cssload-container {
	margin: 58px auto 0 auto;
}

.cssload-flex-container {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-direction: row;
		-o-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	flex-wrap: wrap;
		-o-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 29px;
	height: 288px;
	width: 288px;
	margin: 86px 58px;
	position: relative;
	text-align: center;
}

.cssload-loading {
	display: inline-block;
	width: 216px;
	height: 14px;
	background: rgb(255,255,255);
	border-radius: 288px;
	transform-origin: center center;
		-o-transform-origin: center center;
		-ms-transform-origin: center center;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
	animation: cssload-loading 4.6s ease infinite;
		-o-animation: cssload-loading 4.6s ease infinite;
		-ms-animation: cssload-loading 4.6s ease infinite;
		-webkit-animation: cssload-loading 4.6s ease infinite;
		-moz-animation: cssload-loading 4.6s ease infinite;
	margin-top: 101px;
}




@keyframes cssload-loading {
	0% {
		transform: rotate(-20deg);
		height: 14px;
		width: 216px;
	}
	5% {
		height: 14px;
		width: 216px;
	}
	30% {
		transform: rotate(380deg);
		height: 14px;
		width: 216px;
	}
	40% {
		transform: rotate(360deg);
		height: 14px;
		width: 216px;
	}
	55% {
		transform: rotate(0deg);
		height: 14px;
		width: 14px;
	}
	65% {
		transform: rotate(0deg);
		height: 14px;
		width: 244px;
	}
	68% {
		transform: rotate(0deg);
		height: 14px;
	}
	75% {
		transform: rotate(0deg);
		height: 14px;
		width: 3px;
	}
	78% {
		height: 14px;
		width: 14px;
	}
	90% {
		height: 14px;
		width: 216px;
		transform: rotate(0deg);
	}
	99%, 100% {
		height: 14px;
		width: 216px;
		transform: rotate(-20deg);
	}
}

@-o-keyframes cssload-loading {
	0% {
		-o-transform: rotate(-20deg);
		height: 14px;
		width: 216px;
	}
	5% {
		height: 14px;
		width: 216px;
	}
	30% {
		-o-transform: rotate(380deg);
		height: 14px;
		width: 216px;
	}
	40% {
		-o-transform: rotate(360deg);
		height: 14px;
		width: 216px;
	}
	55% {
		-o-transform: rotate(0deg);
		height: 14px;
		width: 14px;
	}
	65% {
		-o-transform: rotate(0deg);
		height: 14px;
		width: 244px;
	}
	68% {
		-o-transform: rotate(0deg);
		height: 14px;
	}
	75% {
		-o-transform: rotate(0deg);
		height: 14px;
		width: 3px;
	}
	78% {
		height: 14px;
		width: 14px;
	}
	90% {
		height: 14px;
		width: 216px;
		-o-transform: rotate(0deg);
	}
	99%, 100% {
		height: 14px;
		width: 216px;
		-o-transform: rotate(-20deg);
	}
}

@-ms-keyframes cssload-loading {
	0% {
		-ms-transform: rotate(-20deg);
		height: 14px;
		width: 216px;
	}
	5% {
		height: 14px;
		width: 216px;
	}
	30% {
		-ms-transform: rotate(380deg);
		height: 14px;
		width: 216px;
	}
	40% {
		-ms-transform: rotate(360deg);
		height: 14px;
		width: 216px;
	}
	55% {
		-ms-transform: rotate(0deg);
		height: 14px;
		width: 14px;
	}
	65% {
		-ms-transform: rotate(0deg);
		height: 14px;
		width: 244px;
	}
	68% {
		-ms-transform: rotate(0deg);
		height: 14px;
	}
	75% {
		-ms-transform: rotate(0deg);
		height: 14px;
		width: 3px;
	}
	78% {
		height: 14px;
		width: 14px;
	}
	90% {
		height: 14px;
		width: 216px;
		-ms-transform: rotate(0deg);
	}
	99%, 100% {
		height: 14px;
		width: 216px;
		-ms-transform: rotate(-20deg);
	}
}

@-webkit-keyframes cssload-loading {
	0% {
		-webkit-transform: rotate(-20deg);
		height: 14px;
		width: 216px;
	}
	5% {
		height: 14px;
		width: 216px;
	}
	30% {
		-webkit-transform: rotate(380deg);
		height: 14px;
		width: 216px;
	}
	40% {
		-webkit-transform: rotate(360deg);
		height: 14px;
		width: 216px;
	}
	55% {
		-webkit-transform: rotate(0deg);
		height: 14px;
		width: 14px;
	}
	65% {
		-webkit-transform: rotate(0deg);
		height: 14px;
		width: 244px;
	}
	68% {
		-webkit-transform: rotate(0deg);
		height: 14px;
	}
	75% {
		-webkit-transform: rotate(0deg);
		height: 14px;
		width: 3px;
	}
	78% {
		height: 14px;
		width: 14px;
	}
	90% {
		height: 14px;
		width: 216px;
		-webkit-transform: rotate(0deg);
	}
	99%, 100% {
		height: 14px;
		width: 216px;
		-webkit-transform: rotate(-20deg);
	}
}

@-moz-keyframes cssload-loading {
	0% {
		-moz-transform: rotate(-20deg);
		height: 14px;
		width: 216px;
	}
	5% {
		height: 14px;
		width: 216px;
	}
	30% {
		-moz-transform: rotate(380deg);
		height: 14px;
		width: 216px;
	}
	40% {
		-moz-transform: rotate(360deg);
		height: 14px;
		width: 216px;
	}
	55% {
		-moz-transform: rotate(0deg);
		height: 14px;
		width: 14px;
	}
	65% {
		-moz-transform: rotate(0deg);
		height: 14px;
		width: 244px;
	}
	68% {
		-moz-transform: rotate(0deg);
		height: 14px;
	}
	75% {
		-moz-transform: rotate(0deg);
		height: 14px;
		width: 3px;
	}
	78% {
		height: 14px;
		width: 14px;
	}
	90% {
		height: 14px;
		width: 216px;
		-moz-transform: rotate(0deg);
	}
	99%, 100% {
		height: 14px;
		width: 216px;
		-moz-transform: rotate(-20deg);
	}
}

.menu{
    position: absolute;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    border-bottom: 1px #1616161A solid;
    background-color: #fff;
    z-index: 5;
}
.fixed{
    position: fixed;
}
.menu__row{
    display: flex;
    justify-content: space-between;
}
.menu__logo{
    cursor: pointer;
}
.menu-col__body{
    display: flex;
}
.menu-col__text {
    margin-left: 20px;
    font-size: 15px;
    color: #5C5C5C;
}
.menu__ul{
    display: flex;
    padding: 0;
}
.menu__ul a{
    text-decoration: none;
    list-style: none;
}
.menu__li{
    color: #5C5C5C;
    font-size: 15px;
    margin: 0 10px;
}
.menu__btn{
    margin-top: -10px;
    background: #161616;
    color: #fff;
    padding: 9px 24px 15px 24px;
    border-radius: 100px;
    cursor: pointer;
}

.menu__burger{
    display: none;
}
@media (max-width:650px) {
    .menu__burger{
        display: flex;
        justify-content: space-between;
    }
    .menu__row{
        display: none;
    }
    .body__js{
        overflow-y: hidden;
    }
}
.menu-burger__btn{
    margin-top: 10px;
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 6;
}
.menu__hide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    background-color: #fff;
    visibility: hidden;
    transition: .8s;
    z-index: 5;
}
.menu__show{
    height: 100vh;
    visibility: visible;
}
.menu__hide .menu__li{
    opacity: 0;
    transition: .3s;
}
.menu__show .menu__li{
    opacity: 1;
    transition: 1.7s;
}
.menu-burger__ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.menu-burger__ul a{
    text-decoration: none;
}


.start {
    padding-top: 100px;
}
.start__row {
    display: flex;
    justify-content: space-between;
}
.start__col{
    flex-basis: 50%;
}
.start__title{
    font-size: 80px;
}
.start__body {
    padding: 120px 80px 0 80px;
}
.start__text {
    padding-top: 35px;
    font-size: 20px;
    color: #161616;
}
.start__click{
    display: flex;
    margin-top: 40px;
}
.start__btn{
    padding: 12px 28px;
    background-color: #161616;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
    cursor: pointer;
}
.no-bg{
    border: 2px solid #000000;
    background-color: #fff;
    color: #000;
    margin-left: 10px;
}
@media (max-width:1300px) {
    .start__title{
        font-size: 70px;
    }
}
@media (max-width:1200px) {
    .start__title{
        font-size: 60px;
    }
    .start__text{
        font-size: 16px;
    }
    .start__body{
        padding-top: 75px;
    }
}
@media (max-width:1100px) {
    .start__body{
        padding-top: 50px;
    }
}
@media (max-width:950px) {
    .start__body{
        padding-top: 30px;
    }
    .start__text{
        font-size: 14px;
    }
    .start__title{
        font-size: 40px;
    }
}
.start-img{
    display: flex; align-items: flex-end;
}
@media (max-width:700px) {
    .start__row{
        flex-wrap: wrap;
    }
    .start__col{
        flex-basis: 100%;
    }
    .start__body{
        text-align: center;
        padding: 0;
    }
    .start__click{
        justify-content: center;
    }
    .start-img{
        display: none;
    }
    .start__text{
        font-size: 16px;
    }
}

.first {
    margin-top: 70px;
    position: relative;
}
.first__body{
    position: absolute;
    top: 40%;
    padding-left: 80px;
    color: #fff;
}
.first__title {
    font-size: 49px;
}
.first__text {
    padding-top: 45px;
    font-size: 20px;
}
@media (max-width:1150px) {
    .first__body{
        top: 25%;
    }
}
@media (max-width:800px) {
    .first__body{
        padding-left: 40px;
    }
    .first__title{
        font-size: 35px;
    }
    .first__text{
        font-size: 16px;
    }
}
@media (max-width:620px) {
    .first__body{
        top: 15%;
    }
    .first__text{
        padding-top: 20px;
    }
    .first__title{
        font-size: 30px;
    }
}
@media (max-width:450px) {
    .first__body{
        padding-left: 15px;
    }
    .first__title{
        font-size: 25px;
    }
    .first__text{
        font-size: 14px;
    }
    .first__body{
        top: 5%;
    }
    .first__text{
        padding-top: 10px;
    }
}

.second{
    margin-top: -3px;
    background: #F5F4F0;
}
.second__body{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.second__title{
    font-size: 52px;
}
.second__text{
    font-size: 20px;
}
.second__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:650px) {
    .second__body{
        padding: 50px 5px 0 5px;
    }
    .second__title{
        font-size: 40px;
    }
    .second__text{
        font-size: 14px;
    }
}
@media (max-width:400px) {
    .second__title{
        font-size: 30px;
    }
    .second__body{
        padding: 20px 5px 0 5px;
    }
}

.third{
    background-color: #161616;
}
.third__body{
    color: #fff;
    text-align: center;
    padding: 100px 10px 0 10px;
}
.third__title {
    font-size: 54px;
}
.third__text {
    padding-top: 35px;
    font-size: 20px;
}
.third__row{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.third__col{
    padding: 20px 0;
}
.third__img{
    position: relative;
}
.third-img{
    position: absolute;
    top: 20px;
    right: -10px;
}
.third__book-text{
    color: #fff;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.third-book-text{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
}
@media (max-width:1300px) {
    .col-adaptiv{
        display: none;
    }
}
@media (max-width:850px) {
    .third__title{
        font-size: 45px;
    }
    .third__text{
        font-size: 16px;
    }
    .third__row{
        padding-top: 30px;
    }
    .third__book-text{
        text-align: center;
    }
    .third-book-text {
        text-align: center;
    }
}
@media (max-width:650px) {
    .third__text{
        font-size: 13px;
    }
}
@media (max-width:524px) {
    .col-adaptiv-2{
        display: none;
    }
}
.third__img img{
    cursor: pointer;
}

.fourth__row {
    padding-top: 50px;
    display: flex;
}
.fourth__col{
    flex-basis: 50%;
}
.fourth__title {
    font-size: 54px;
    color: #161616;
}
.fourth__text {
    padding-top: 30px;
    font-size: 20px;
    color: #161616;
}
@media (max-width:850px) {
    .fourth__title{
        font-size: 40px;
    }
    .fourth__text{
        font-size: 16px;
    }
}
@media (max-width:850px) {
    .fourth__col{
        flex-basis: 100%;
    }
    .fourth__row{
        flex-wrap: wrap-reverse;
    }
    .fourth__body{
        text-align: center;
    }
}
@media (max-width:500px) {
    .fourth__img-fix{
        width: 30%;
    }
}

.app{
    padding-top: 100px;
    text-align: center;
}
.app__text{
    color: #161616;
}
.app__btn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.app__click{
    cursor: pointer;
    padding: 2px 0;
    border-radius: 100px;
    width: 127px;
    background-color: #000;
    color: #fff;
}

.footer{
    background-color: #000;
}
.footer__row{
    padding: 80px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer__col{
    color: #fff;
    padding: 30px 30px;
}
.footer__title{
    font-size: 18px;
}
.footer__li{
    padding: 15px 0;
    font-size: 13px;
    cursor: pointer;
}
.footer__text{
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.7);
}
.footer-text{
    margin-top: 20px;
    cursor: pointer;
}
.footer__end{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width:1113px) {
    .footer__col{
        text-align: center;
    }
}
.footer-end__row{
    padding: 25px 155px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}
.footer__lan{
    border-radius: 10px;
    padding: 8px 15px;
    width: 150px;
    background-color: #353535;
    display: flex;
    justify-content: space-around;
}
.footer-end-text{
    padding-left: 25px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}
@media (max-width:600px) {
    .footer-end__row{
        padding: 25px 20px;
        justify-content: center;
    }
}